// COLORS
$primary-color : #23a6f0;
$font-montserrat: 'Montserrat', sans-serif;
$white : #fff;
$color-73 : #737373;
$color-252b : #252B42;
$color-8ec:#8ec2f2;
$color-yellow:#f3cd03;
$trans: all 0.4s ease;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS